<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shipping</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main style="min-height: 70vh">
      <div class="container">
      <h1 class="title1">login page</h1>
      <form action="/login" method="POST">
      <div>
        <input type="email" name="email" id="email" placeholder="email" required />
      </div>
      <div>
        <input type="password" name="pass" id="pass" placeholder="password" required />

      </div>
      <div>
        <input  type="submit" value="Sign in" />
      </div>
    </div>
      </form>
    </main>

    <%- include("partials/footer.ejs") %>

  </body>
</html>
